body{
    color: #ffffff;
    background-color: #1b1b20;
}

h3 {
    /* Brings text underneath closer to heading3s*/
    margin-bottom: -15px;
}

.box {
    background: rgba(0, 0, 0, .75);
    margin-left: 10px;
    margin-right: 10px;
}

.innerBox {
    padding-left: 10px;
    padding-right: 10px;
}

#aboutMeCanvas {
    width: 744px;
    height: 1133px;
    outline: 1px;
    outline-color: #000000;
    background: linear-gradient(135deg, rgba(255, 153, 0), rgba(255, 0, 15));
    margin: auto;
    margin-top: 25px;
}

#roundedProfilePicture {
    width: 280px;
    border-radius: 50%;
    border: 5px solid transparent;
    background: linear-gradient(135deg, rgba(255, 153, 0), rgba(255, 0, 15)) border-box;
    margin: 10px;
}

#imageLeft {
    float: left;
}

#firstBox{
    position: relative;
    top: 10px;
}