#lionExtraCaption {
    text-align: center;
    font-style: italic;
    color: #aaaaaa;
}



@media (min-width: 769px) {
    /* PC View */

    #generatieGridContainer1 {
        grid-template-areas:
            '1 2 3 4';
    }

    #generatieGridContainer2 {
        grid-template-areas:
            '1 2 3'
            '4 5 6';
    }

    #generatieGridContainer8 {
        grid-template-areas:
            '1 2 3';
    }
}

@media (max-width: 768px) {
    /* Mobile View */

    #generatieGridContainer1 {
        grid-template-areas:
            '1 2'
            '3 4';
    }

    #generatieGridContainer2 {
        grid-template-areas:
            '1 2'
            '3 4'
            '5 6';
    }

    #generatieGridContainer8 {
        grid-template-areas:
            '1'
            '2'
            '3';
    }
}

#generatieGridContainer3,
#generatieGridContainer4,
#generatieGridContainer5,
#generatieGridContainer6,
#generatieGridContainer7 {
    grid-template-areas:
        '1 2';
}

table {
    margin: 0 auto;
    color: black;
    background-color: #FFF;

    border-color: #000;
    
    
}
tr:nth-child(2n) {
    background-color: #CFF;
}


table, th, td {
    border: 1px solid black;
  border-collapse: collapse;
}