* {
    margin: 0em;
    border: 0em;
}

@font-face {
    font-family: stefRoboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@media (min-width: 769px) {

    

    /* PC View */
    .mobile-only {
        display: none;
    }

    main {
        padding: 1rem 1rem;
    }

    #bottomFooterLeft {
        display: flex;
    }

    #bottomFooterRight {
        display: flex;
    }
}

@media (max-width: 768px) {

    /* Mobile View */
    .pc-only {
        display: none;
    }

    main {
        padding: 0.5rem 0.5rem;
    }

    #bottomFooterLeft {
        display: none;
    }

    #bottomFooterRight {
        display: none;
    }
}

/*---------------------------------------------*/
/* Main Containers */
html,
body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;

    font-family: "stefRoboto";
    font-size: 16px;

    color: #fff;
    background: #16181C;
    box-sizing: border-box;
}

#topHeader {
    z-index: 9998;
    width: 100%;
    position: fixed;

    background-color: #101114;
    display: flex;
}

main {
    max-width: 75rem;
    width: 100%;

    box-sizing: border-box;

    flex: 1;

    margin: 4rem auto 1rem auto;
}

main>section {
    margin-bottom: 1rem;
}

main>section>* {
    margin-bottom: 1rem;
}

#bottomFooter {
    box-sizing: border-box;

    display: flex;
    text-align: center;

    background-color: #101114;
    width: 100%;
    gap: 0.5em;
    padding: 1rem 0.5rem;


    bottom: 0;
}

.bottomFooterSection {
    flex-direction: column;
    flex: 1;
}

.bottomFooterH2 {
    font-weight: normal;
}

/*---------------------------------------------*/
/* Tags */

a {
    transition-duration: 0.4s;
    color: #b293ff
}

button {
    transition-duration: 0.4s;
    cursor: pointer;
}

/*---------------------------------------------*/
/* Containers & Content */

.textGridContainer {
    display: grid;
    gap: 2em 2em;
    padding: 1rem 0rem;
}

.figureGridContainer {
    display: grid;
    gap: 0.5rem;
}

.textBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*---------------------------------------------*/
/* Images */

.icon {
    height: 3rem;
}

#logo {
    height: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: auto;
}

figure {
    max-width: 100%;
    margin: 0;
    width: auto;
}

figure img {
    max-width: 100%;
    display: block;
    margin: 0.0rem auto;
}

figure figcaption {
    text-align: center;
    font-style: italic;
    color: #aaaaaa;
}


.frontCaption {
    position: relative;
    max-width: 25vw;
}

.frontCaption figcaption {
    position: absolute;
    bottom: 2.5%;
    left: 0;
    right: 0;
    background-color: #00000099;
    color: #fff;
    padding: 0.25rem;
    
    z-index: 9997;

    font-style: normal;
    font-weight: bold;
}

/*---------------------------------------------*/
/* Navigation */

#navDropdownButton {
    background-image: url("../img/Nav/Nav_Closed.svg");
    background-color: #101114;
    width: 4rem;
    height: 4rem;
}

#navDropdownButton:hover {
    background-color: #343639;
}


#navPopout {
    background-color: #101114;
    width: fit-content;
    padding: 0.5em;
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    margin-top: 4rem;
}

.navPageIcon {
    width: 2rem;
    height: 2rem;
}

.navLinks {
    background-color: #101114;
    color: #fff;
    width: 100%;
    padding: 0.5rem 0rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navLinks:hover {
    background-color: #343639;
}

#navActivePage {
    background-color: #9100ff;
}

/*---------------------------------------------*/
/* Cookies */
#cookiePopup {
    z-index: 9999;
    position: fixed;
    width: fit-content;
    padding: 1rem;
    background-color: #9100ff;
    display: flex;
    flex-direction: column;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
}


.cookieButtons {
    width: 10rem;
    height: 2rem;
    margin: 0.5rem;
    align-self: center;
}

.cookieButtons:hover {
    background-color: #343639;
}

#cookieButtonAccept {
    background-color: #008800;
    color: #FFFFFF;
}

#cookieButtonDecline {
    background-color: #EE0000;
    color: #FFFFFF;
}