* {
    margin: 0em;
    border: 0em;
}

@font-face {
    font-family: stefRoboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@media (min-width: 769px) {

    /* PC View */
    .mobile-only {
        display: none;
    }

    #bottomFooterLeft {
        display: flex;
    }

    #bottomFooterRight {
        display: flex;
    }
}

@media (max-width: 768px) {

    /* Mobile View */
    .pc-only {
        display: none;
    }

    #bottomFooterLeft {
        display: none;
    }

    #bottomFooterRight {
        display: none;
    }
}

/*---------------------------------------------*/
/* Main Containers */
html,
body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;

    font-family: "stefRoboto";
    font-size: 16px;

    color: #fff;
    background: #16181C;
}

#topHeader {
    z-index: 9998;
    width: 100%;
    position: fixed;

    background-color: #101114;
    display: flex;
}

main {
    max-width: 75rem;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 4rem auto 0.5rem auto;
}

#bottomFooter {
    display: flex;
    text-align: center;

    background-color: #101114;
    width: 100%;
    gap: 0.5em;
    padding: 1rem 0.5rem;


    bottom: 0;
}

.bottomFooterSection {
    flex-direction: column;
    flex: 1;
}

.bottomFooterH2{
    font-weight: normal;
}

/*---------------------------------------------*/
/* Tags */

a {
    transition-duration: 0.4s;
    color: #b293ff
}

h2 {
    text-align: center;
    gap: 20rem;
}

button {
    transition-duration: 0.4s;
    cursor: pointer;
}

/*---------------------------------------------*/
/* Containers & Content */

.grid-container {
    display: grid;
    gap: 2em 1em;
    padding: 1rem;
}

.gridElement {

}

.textBox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*---------------------------------------------*/
/* Images */

.aiExample figure figcaption {
    position: absolute;
    bottom: 10px;
    left: 1px;
    right: 1px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
    z-index: 9997;
}

.icon{
    height: 3rem;
}

#logo {
    height: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: auto;
}

/*---------------------------------------------*/
/* Navigation */

#navDropdownButton {
    background-image: url("../img/Nav/Nav_Closed.svg");
    background-color: #101114;
    width: 4rem;
    height: 4rem;
}

#navDropdownButton:hover {
    background-color: #343639;
}


#navPopout {
    background-color: #101114;
    width: fit-content;
    padding: 0.5em;
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    margin-top: 4rem;
}

.navPageIcon {
    width: 2rem;
    height: 2rem;
}

.navLinks {
    background-color: #101114;
    color: #fff;
    width: 100%;
    padding: 0.5rem 0rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navLinks:hover {
    background-color: #343639;
}

#navActivePage {
    background-color: #9100ff;
}

/*---------------------------------------------*/
/* Cookies */
#cookiePopup {
    z-index: 9999;
    position: fixed;
    width: fit-content;
    padding: 1rem;
    background-color: #9100ff;
    display: flex;
    flex-direction: column;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
}


.cookieButtons {
    width: 10rem;
    height: 2rem;
    margin: 0.5rem;
    align-self: center;
}

.cookieButtons:hover {
    background-color: #343639;
}

#cookieButtonAccept {
    background-color: #008800;
    color: #FFFFFF;
}

#cookieButtonDecline {
    background-color: #EE0000;
    color: #FFFFFF;
}