nav {
    padding: 10px;
}

body {
    font-family: 'Coda', sans-serif;
    font-size: 20px;
    background-color: #000000;
    color: #ffffff;
}

a {color: #ffaa00}


#bottomFooter {
    position: static;
    top: 50px;

    background-color: #111114;
    color: #ffffff;

    box-shadow: 0 50vh 0 50vh #111114;
}